.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup {
    background-color: var(--color-white);
    border-radius: 16px;
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: fadeIn 0.3s ease;
}

.popup-header {
    padding: 50px 30px 20px;
    flex-shrink: 0;
    text-align: center;
    position: relative;

    h2 {
        margin: 0;
        font-size: 28px;
        color: var(--color-black);
    }

    .close-button {
        cursor: pointer;
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: none;
        background-image: url(@assets/icons/cross.svg);
        background-repeat: no-repeat;
        background-size: cover;
        top: 30px;
        right: 35px;
    }
}

.popup-body {
    padding: 20px 30px 40px;
    font-size: 16px;
    color: var(--color-black-3);
    overflow-y: auto;
    flex-grow: 1;
}

.popup-footer {
    padding: 30px 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}

.popup-footer .button {
    padding: 14px 16px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    height: 50px;
    width: 100%;
    max-width: 418px;

    &:hover {
        background-color: var(--color-blue-2);
    }

    .secondary {
        background-color: var(--color-blue-3);

        &:hover {
            background-color: var(--color-blue-4);
        }
    }
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
