.stablecoin-container {
    position: relative;
    padding: 25px 30px 130px;
    min-height: 100%;
    background-color: var(--color-white);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.step-content {
    margin: 75px auto 0;
    min-height: 300px;
    max-width: 418px;
}
