.badge-input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;

    .badge-label {
        display: block;
        font-size: 16px;
        margin-bottom: 22px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .badge-list {
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
        gap: 6px;
        border: 1px solid var(--color-gray-7);
        padding: 9px;
        border-radius: 16px;
        min-height: 55px;
    }

    .badge {
        background-color: var(--color-gray-6);
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        border-radius: 8px;
        padding: 8px;
        color: var(--color-white);
    }

    .badge.locked {
        background-color: var(--color-gray-5);
    }

    .remove-btn {
        border: none;
        background: none;
        cursor: pointer;
        display: block;
        width: 16px;
        height: 16px;
        background-image: url(@assets/icons/cross-white.svg);
        background-repeat: no-repeat;
        background-size: 12px 12px;
        background-position: center center;
    }

    .input-wrapper {
        flex-grow: 1;
        display: flex;
        gap: 15px;
        min-width: 150px;

        .text-input {
            margin: 0;
            flex-grow: 1;

            input {
                flex-grow: 1;
                padding: 10px;
                font-size: 15px;
                border: none;
                outline: none;
                margin: 0;
                height: auto;
            }
        }
    }

    .add-button {
        position: absolute;
        bottom: 17px;
        right: calc(100% + 8px);
        display: flex;
        gap: 10px;

        button {
            cursor: pointer;
            width: 25px;
            height: 25px;
            color: var(--color-blue-3);
            border: 1px solid var(--color-gray-7);
            border-radius: 6px;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            line-height: 15px;

            &:hover {
                background-color: var(--color-gray-3);
            }
        }

        span {
            display: flex;
            align-items: center;
            width: max-content;
            opacity: 0;
            font-size: 15px;
            color: var(--color-blue-3);
            transition: opacity 0.3s;
        }

        &:hover span {
            opacity: 1;
        }
    }
}
